<div class="bg-local bg-no-repeat bg-cover bg-center h-40 lg:h-60 grid place-items-center" style="background-image: url({{ BASE_UPLOADS }}{{ page_banner }})">
	<h1 class="text-[40px] text-white">{{ ads_title }}</h1>
</div>

<div class="-mt-24 grid place-items-center">
	<img class="border-[10px] border-white rounded-full shadow-lg" src="{{ BASE_UPLOADS }}{{ page_profile }}">
</div>

<div class="lg:-mt-[110px] sm:-mt-[110px] px-20 grid grid-cols-2 place-content-between ">
	<div class="flex justify-end mr-[120px]">
		<a href="#" class="uk-button uk-button-primary mr-4"><i class="fas fa-heart"></i> Contato</a>
		<a href="#" class="uk-button uk-button-primary">Link 1</a>
	</div>
	<div class="flex justify-start ml-[120px]">
		<a href="#" class="uk-button uk-button-primary mr-4"><i class="fas fa-heart"></i> Favorito</a>
		<a href="#" class="uk-button uk-button-primary">Link 1</a>
	</div>
</div>

<div class="mb-[100px]"></div>