<div class="bg-local bg-no-repeat bg-cover bg-center h-[150px] lg:h-[250px]"
	style="background-image: url({{ BASE_UPLOADS }}{{ page_banner }})">
	<div class="uk-container pt-5 lg:pt-20"></div>
</div>

<div class="uk-container md:lg:flex">
	<div class="md:-mt-10 -mt-[100px] lg:mr-6 grid justify-items-center">
		<img class="border-[10px] border-white rounded-full shadow-lg sm:w-[220px]" src="{{ BASE_UPLOADS }}{{ page_profile }}">
	</div>
	<div class="lg:w-full">
		<h1 class="text-[30px] text-center md:text-center lg:text-left font-semibold tracking-tight my-5">{{ ads_title }}</h1>
		
		<div class="grid justify-items-center md:lg:grid-flow-col md:lg:place-content-between">
			<div class="mb-5">
				<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    			<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    			<a href="" class="uk-icon-button" uk-icon="youtube"></a>
			</div>
			<div>
				<a href="#" class="uk-button uk-button-secondary uk-text-bold mr-1"><i class="fas fa-heart"></i> Favorito</a>
				<a href="#" class="uk-button uk-button-secondary uk-text-bold">Link 1</a>
			</div>
		</div>

	</div>
</div>