<!-- WHATSAPP + BACK TO TOP -->
<div>
    <a href="#" class="liloo-backtotop" uk-totop uk-scroll></a>
</div>

<!-- FOOTER -->
<footer>
    <div class="uk-container uk-padding-large">
        <div class="uk-grid-large uk-child-width-1-4@m" uk-grid>

            {% for key,value in footer %}
                <div>
                    <h4 class="text-xl mb-4">{{ key }}</h4>
                    <ul class="list-none">
                        {% for key1,item in value %}
                            <li class="py-1">
                                <a href="{{ item.link }}" class="{{ item.class }}" target="{{ item.target }}" {{ item.attr }}>{{ item.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            
            <div>
                <h4 class="text-xl mb-4">Redes Sociais</h4>
                {% for item in smm %}
                    <a href="{{ item.link }}" class="{{ item.class }}" target="{{ item.target }}" {{ item.attr }}>{{ item.text }}</a>
                {% endfor %}                    
            </div>
            
            <div class="uk-margin-large-top">
                    <img src="{{ BASE_UPLOADS }}footer/site-security.png" alt="" width="140px">
            </div>

        </div>
    </div>
</footer>