<div class="callback"></div>
<script type="text/javascript" src="{{ BASE_ASSETS }}maskinput/jquery.mask.min.js"></script>
<script type="text/javascript" src="{{ BASE_ASSETS }}maskinput/maskinput.js"></script>
<script type="text/javascript" src="{{ BASE_ASSETS }}liloo/js/lilooJS-2.0.js"></script>
<script type="text/javascript" src="{{ BASE_ASSETS }}liloo/js/lilooJS-3.0.js"></script>

<!-- CARREGAMENTO DOS SCRIPTS DE CADA ROTA DA FRONTEND -->
{% if theme_script %}
	<script type="text/javascript" src="{{ BASE_THEME_ROUTES }}{{ URL }}/script.js"></script>
	<script type="module" src="{{ BASE_THEME_ROUTES }}{{ URL }}/module.js"></script>
{% else %}
	<script type="text/javascript" src="{{ BASE_THEME_ROUTES }}home/script.js"></script>
	<script type="module" src="{{ BASE_THEME_ROUTES }}home/module.js"></script>
{% endif %}

<script type="text/javascript">
	$('[liloo-loader]').hide()

	$('.liloo-whatsapp').on('click', function() {
		$('#liloo-window-whatsapp').toggle()
		$('.icon-whatsapp').toggle()
		$('#icon-close').toggle()
		$('[name="contact_whastapp"]').focus()
		return false
	})

	$('.icon-whatsapp').on('click', function(){
		lilooJS.Event({
			action: 'click_btn_whatsapp',
			path: 'themes/<?= $__CONF__['theme'] ?>/ajax/ContactSystem',
			data: 'click'
		})    
	})

	$('.liloo-click-phone').on('click', function(){
		lilooJS.Event({
			action: 'click_btn_phone',
			path: 'themes/<?= $__CONF__['theme'] ?>/ajax/ContactSystem',
			data: 'phone'
		})    
	})

</script></body></html>
