<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">AC</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">AL</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">AP</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">AM</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">BA</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">CE</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">ES</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">GO</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">MA</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">MT</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">MS</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">MG</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">PA</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">PB</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">PR</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">PE</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">PI</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">RJ</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">RN</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">RS</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">RO</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">RR</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">SC</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">SP</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">SE</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">TO</a>
<a href="{{ BASE }}" class="uk-icon-button uk-button-primary">DF</a>